# Agent Authentication Configuration
AGENT_ID=your-agent-id
AGENTIC_USER_ID=your-user-id

# n8n Configuration
N8N_WEBHOOK_URL=https://example/webhook/url
# this is the value of the 'Authorization' to be passed when making the request to n8n webhook
N8N_WEBHOOK_AUTH_HEADER="Basic base64EncodedBasicAuthCredentials"

# Development Settings
NODE_ENV=development
PORT=3978

# MCP Tool Server Configuration (optional)
# Set these if you want to provide Microsoft 365 tools to your n8n workflow
MCP_AUTH_TOKEN=

#Auth
connections__service_connection__settings__clientId=blueprint_id
connections__service_connection__settings__clientSecret=blueprint_secret
connections__service_connection__settings__tenantId=tenant_id

connectionsMap__0__connection=service_connection
connectionsMap__0__serviceUrl=*

agentic_type=agentic
agentic_scopes=https://graph.microsoft.com/.default
agentic_connectionName=service_connection