# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: CI - Build Node.js LangChain Sample Agent

on:
  push:
    branches: [ main, master ]
    paths:
      - 'nodejs/langchain/sample-agent/**/*'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'nodejs/langchain/sample-agent/**/*'
jobs:
  nodejs-langchain-sampleagent:
    name: Node.js LangChain Sample Agent
    permissions:
      contents: read
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./nodejs/langchain/sample-agent

    strategy:
      matrix:
        node-version: ['18', '20']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build
